/*
 * @Author: qiaozp
 * @LastEditors: Please set LastEditors
 * @Description: 全局样式  支持import引入其他的样式
 * @Date: 2019-04-01 08:58:41
 * @LastEditTime: 2020-03-17 13:56:42
 */

 @import './btn.scss';
 @import './element-ui.scss';
 @import "./mixin.scss";
 @import './btn.scss';
 @import './sidebar.scss';
 body {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
     font-family: "微软雅黑", Arial, sans-serif;
 }
 
 body,
 ul,
 li,
 h1,
 h2,
 h3,
 h4,
 p,
 div,
 img,
 input {
     margin: 0;
     padding: 0;
     line-height: normal;
     font-family: "微软雅黑";
 }
 
 ul,
 li {
     list-style: none;
 }
 
 img {
     border: 0;
     vertical-align: middle;
 }
 
 input,
 textarea,
 button,
 select {
     outline: none;
     border: none;
 }
 
 lable {
     color: #333333;
 }
 
 input:-webkit-autofill {
     -webkit-box-shadow: 0 0 0px 1000px white inset;
 }
 
 html {
     box-sizing: border-box;
 }
 
 .el-dialog__headerbtn .el-dialog__close {
     color: rgba(0, 0, 0, .65) !important;
     &:hover {
         color: rgba(0, 0, 0, .65);
     }
 }
 
 .el-dialog__body {
     padding: 20px;
 }
 
 .el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange .el-icon-date {
     left: 0;
 }
 
 .el-date-editor .el-range-separator {
     width: 24px;
     line-height: 24px !important;
 }
 
 .el-table {
     // border-left: 1px solid #ebeef5;
     // border-right: 1px solid #ebeef5 !important;
 }
 
 .el-table .cell {
     padding: 0 !important;
 }
 
 .el-form-item__content,
 .el-form-item__label {
     line-height: 26px !important;
 }
 
 .el-form-item__content {
     word-wrap: break-word
 }
 .el-form-item__content .upload-demo{
     width: 100%;
 }
 // 大弹出层样式
 .personnelListDialog_box .el-dialog__body{
     padding: 0px 20px 10px;
 }
 .app-container .personnelListDialog_box .el-form-item{
     margin-bottom: 5px !important;
 }
 //表格样式
 .el-table__header-wrapper table {
     thead th {
         border-top: 1px solid #e4e7ea;
         background: rgba(240, 242, 245, .85);
         border-right: none !important;
         div {
             color: rgba(0, 0, 0, .65) !important;
             line-height: 22px !important;
         }
     }
     tbody {
         td {
             color: #666666;
         }
     }
 }
 
 .el-table td {
     border-bottom: 1px solid #e4e7ea;
     padding: 8px 0 !important;
     border-right-color: #ddd !important;
 }
 
 .el-table tbody {
     @at-root & {
         @media all and (max-width: 1400px) {
             & {
                 font-size: 12px;
             }
         }
     }
 }
 
 .el-table__body tr.current-row>td {
     background-color: #fff !important
 }
 
 .el-table th.is-leaf,
 .el-table th.is-right {
     border-bottom: none;
     background-color: #efeff0;
     border-right: 1px solid #ddd
 }
 
 .el-table__fixed,
 .el-table__fixed-right {
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }
 
 tbody tr:nth-child(even) {
     background: #f7f9ff;
 }
 
 //分页样式
 .pagination-container {
     text-align: right;
     margin-top: 20px;
     height: 50px;
     background: #fff;
     padding-right: 30px;
 }
 
 .el-pagination__editor {
     border: none !important;
     padding: 0 !important;
 }
 
 .el-date-editor--daterange.el-input__inner {
     width: 285px;
 }
 
 .width150 .el-input {
     width: 150px !important;
 }
 
 .barCode .el-input {
     width: 240px !important;
 }
 
 .dialog .el-input,
 .el-cascader,
 .dialog .el-textarea {
     padding: 0 !important;
     width: 90%;
 }
 
 //车辆数选择框清除按钮
 .closeI {
     position: absolute;
     right: 25px;
     top: 8px;
     color: #c0c4cc;
     cursor: pointer;
 }
 
 .radio-img {
     display: inline-block;
     width: 17px;
     height: 16px;
     vertical-align: middle;
     margin-right: 4px;
 }
 
 .selectCarTree-input {
     margin-top: 0 !important;
     float: left;
     margin-right: 20px;
     input {
         background: #f7f7f7;
         @include cursor;
     }
 }
 
 @media screen and (max-width: 1400px) {
     .tree-box {
         width: 15%;
     }
     .con {
         width: 84%;
     }
 }
 
 //时间组件
 .el-date-range-picker.has-sidebar {
     width: 825px;
 }
 
 .allDate {
     .el-date-editor .el-range-input {
         width: 160px;
     }
     .el-date-editor .el-range-separator {
         line-height: 24px;
     }
 }
 
 //Tab切换样式
 .meun_tab {
     margin-bottom: 10px;
     .el-button {
         padding: 12px 20px;
         margin-left: 0;
     }
 }
 
 .el-tabs__nav-scroll {
     background: #efeff0;
 }
 
 .el-tabs--border-card {
     box-shadow: none;
 }
 
 .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
     background-color: #fff;
     color: #515456;
 }
 
 // 滚动条样式
 
 /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
 
  ::-webkit-scrollbar {
     width: 8px;
     height: 8px;
     background-color: #F5F5F5;
     cursor: pointer;
 }
 
 
 /*定义滚动条轨道 内阴影+圆角*/
 
  ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 
 /*定义滑块 内阴影+圆角*/
 
  ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
     background-color: #B4B4B4;
 }
 
 .date {
     width: 160px !important;
 }
 
 .el-input__icon {
     line-height: 33px !important;
 }
 
 .el-pager li.active {
     color: #3082f3;
 }
 
 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }
 
 .no-padding {
     padding: 0px !important;
 }
 
 .padding-content {
     padding: 4px 0;
 }
 
 a:focus,
 a:active {
     outline: none;
 }
 
 a,
 a:focus,
 a:hover {
     cursor: pointer;
     color: inherit;
     text-decoration: none;
 }
 
 .fr {
     float: right;
 }
 
 .fl {
     float: left;
 }
 
 .clear {
     content: '';
     display: table;
     clear: both;
 }
 
 .pr-5 {
     padding-right: 5px;
 }
 
 .pl-5 {
     padding-left: 5px;
 }
 
 .block {
     display: block;
 }
 
 .pointer {
     cursor: pointer;
 }
 
 .inlineBlock {
     display: block;
 }
 .ml-8 {
     margin-left: 8px;
 }
 .mr-8 {
     margin-right: 8px;
 }
 .mt-15 {
     margin-top: 15px;
 }
 .text_blue{
     color: #204FFE;
 }
 .flex_space_between{
   display: flex; 
   justify-content: space-between; 
 }
 /* 点击菜单中间的部分 淡入淡出的效果 start */
 
 .fade-enter-active {
     transition: all 0.5s; //css3 有些浏览器不支持 Chrome || Safari
     transition-delay: 0.5s; //css3 有些浏览器不支持 Chrome || Safari
 }
 
 .fade-leave-active {
     transition: all 0.5s; //css3 有些浏览器不支持 Chrome || Safari
 }
 
 .fade-enter,
 .fade-leave-active {
     transform: translateY(-6px);
     // opacity: 0;
 }
 
 
 /* 点击菜单中间的部分 淡入淡出的效果 end */
 
 
 /* main-container全局样式  start*/
 // 页面
 // 蓝色按钮
 .app-container .el-button--primary {
     background-color: #204FFE;
     border-color: #204FFE;
 }
 .app-container .el-button--primary:hover{
     background-color: #4169FF;
     border-color: #4169FF;
 }
 .app-container .el-button--text {
     color: #204FFE;
 }
 .app-container .el-button--danger{
     color: #EB2828;
     background-color: #FFF;
     border-color: #EB2828;
 }
 .app-container .el-button--primary.is-plain{
     color: #409eff;
     background: #ecf5ff;
     border-color: #b3d8ff;
 }
 // tabs样式
 .app-container .el-tabs__nav-scroll{
     background-color: #FFF;
 }
 .app-container .el-tabs__item.is-active{
     color: #204FFE;
 }
 .app-container .el-tabs__active-bar {
     background-color: #204FFE;
 }
 
 .app-container .el-tabs__item{
     font-size: 16px;
     color: rgba(0, 0, 0, .65);
     font-weight: bold;
     height: 55px;
     line-height: 55px;
 }
 .app-container .el-tabs__nav{
     margin-left: 20px;
 }
 // 内页
 .app-container {
     min-height: inherit; //继承高度
     // margin: 70px 10px 10px 220px;
     -webkit-transition: all .28s ease-out; //css3 有些浏览器不支持 Chrome || Safari
     -moz-transition: all .28s ease-out; //css3 有些浏览器不支持 Firefox 
     -ms-transition: all .28s ease-out; //css3 有些浏览器不支持 IE
     -o-transition: all .28s ease-out; //css3 有些浏览器不支持 Opera
     background: #fff;
     // padding: 15px;
     // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
     border-radius: 5px;
     position: relative;
 }
 .app-container .title_box_gd{
     width: 100%;
     height: 55px;
     border-bottom: 1px solid #E9E9E9;
     padding: 0 21px;
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px;
 }
 .app-container .title_box_gd .title{
     font-size: 16px;
     font-weight: bold;
     line-height: 55px;
 }
 .app-container .title_box_gd .right{
     display: flex;
     align-items: center;
 }
 .app-container .table_box_gd{
     width: 100%;
     padding: 20px;
 }
 .app-container .el-button{
     padding: 7px 18px;
 }
 .app-container .container_box_gd{
     width: 652px;
     margin: 0px auto;
 }
 .app-container .form_title_box_gd{
     font-size: 16px;
     font-family:' PingFang SC';
     font-weight: 500;
     color: #000000;
     line-height: 16px;
     opacity: 0.85;
     text-indent: 15px;
     position: relative;
     margin: 25px 0;
 }
 .app-container .form_title_box_gd::after{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 4px;
     height: 16px;
     background: #204FFE;
     border-radius: 2px;
 }
 .app-container .form_container{
     width: 100%;
     padding: 0px 15px;
 }
 .app-container .form_container p{
     color: rgba(0, 0, 0, .45);
     font-size: 12px;
     margin-top: 10px;
 }
 
 .app-container  .el-form-item__content{
    //  display: flex;
    //  justify-content: space-around;
 }
//  .app-container  .el-form-item{
//      margin-bottom: 10px !important;
//  }
 .app-container .el-form--label-top .el-form-item__label ,.app-container .label_title{
     padding: 0 0 0 0  !important;
     color: rgba(0, 0, 0, .65);
 }
 .app-container .label_title{
     line-height: 30px;
     margin-bottom: 8px;
 }
 .app-container .el-select > .el-input,.app-container  .el-select  {
     width: 100%;
 }
 .app-container  .form_input_w{
     width: 100%;
     display: block;
 }
 .app-container .tabs_right_box_gd{
     position: absolute;
     height: 55px;
     top: 0;
     right: 20px;
     z-index: 99;
     display: flex;
     align-items: center;
 }
 .app-container .tabs_container_box{
     width: 100%;
    //  padding: 20px;
 }
 // 导入页
 .app-container .import_container_box_gd{
     width: 100%;
 }
 .app-container .import_container_box_gd .row_box{
     color: rgba(0, 0, 0, .65);
     font-size: 14px;
     line-height: 20px;
 }
 .app-container .import_container_box_gd .button_box{
     margin: 8px 0 30px;
 }
 .app-container .import_container_box_gd .xls_box{
     
     height: 219px;
     border: 1px solid #D9D9D9;
     margin-top: 10px;
     border-radius: 3px;
     display: flex;
     align-items: center;
 }
 .app-container .import_container_box_gd .xls_box .xls_flex{
     text-align: center;
     width: 100%;
 }
 .app-container .import_container_box_gd .xls_box img{
     width: 46px;
     height: 46px;
     margin: 0px auto;
     display: block;
 }
 .app-container .import_container_box_gd .xls_box button{
     margin: 15px auto;
 }
 .components-container {
     margin: 30px 50px;
     position: relative;
 }
 .fileList_box{
     line-height: 30px;
 }
 // 搜索
 .search_box{
     display: flex;
     justify-content: space-between;
     margin-right: 16px;
 }
 .search_box button{
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
 }
 .search_box input{
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
 }
 /* main-container全局样式  end*/
 
 .editor-container .CodeMirror {
     height: 100%!important;
 }
 
 .wscn-icon {
     width: 1em;
     height: 1em;
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
 }
 
 .sub-navbar {
     height: 50px;
     line-height: 50px;
     position: relative;
     width: 100%;
     text-align: right;
     padding-right: 20px;
     -webkit-transition: 600ms ease position; //css3 有些浏览器不支持 Chrome || Safari
     -moz-transition: 600ms ease position; //css3 有些浏览器不支持 Firefox 
     -ms-transition: 600ms ease position; //css3 有些浏览器不支持 IE
     -o-transition: 600ms ease position; //css3 有些浏览器不支持 Opera
     background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
     .subtitle {
         font-size: 20px;
         color: #fff;
     }
     &.draft {
         background: #d0d0d0;
     }
     &.deleted {
         background: #d0d0d0;
     }
 }
 
 .link-type,
 .link-type:focus {
     color: #337ab7;
     cursor: pointer;
     &:hover {
         color: rgb(32, 160, 255);
     }
 }
 
 .publishedTag,
 .draftTag,
 .deletedTag {
     color: #fff;
     line-height: 1;
     text-align: center;
     margin: 0;
     padding: 8px 12px;
     font-size: 14px;
     border-radius: 4px;
     position: absolute;
     left: 20px;
     top: 10px;
 }
 
 .draftTag {
     background-color: $yellow;
 }
 
 .deletedTag {
     background-color: $red;
 }
 
 .input-label {
     font-size: 14px;
     color: #48576a;
     line-height: 1;
     padding: 11px 5px 11px 0;
 }
 
 .clearfix {
     &:after {
         visibility: hidden;
         display: block;
         font-size: 0;
         content: " ";
         clear: both;
         height: 0;
     }
 }
 
 .no-marginLeft {
     .el-checkbox {
         margin: 0 20px 15px 0;
     }
     .el-checkbox+.el-checkbox {
         margin-left: 0px;
     }
 }
 
 .filter-container {
     // border: 1px solid #e9e9e9;
     padding: 10px 15px 0 15px;
     margin-bottom: 15px;
     @at-root & {
         @media all and (max-width: 1400px) {
             & {
                 padding: 15px 8px 0 8px;
                 margin-bottom: 15px;
             }
         }
     }
     .filter-item {
         display: inline-block;
         margin-bottom: 10px;
     }
     .el-form-item {
         margin-bottom: 10px
     }
 }
 
 .multiselect {
     line-height: 16px;
 }
 
 .multiselect--active {
     z-index: 1000 !important;
 }
 
 .simplemde-container {
     .editor-toolbar.fullscreen,
     .CodeMirror-fullscreen {
         z-index: 1003;
     }
 }
 
 //暂时性解决diolag 问题 
 .el-dialog {
     transform: none;
     left: 0;
     position: relative;
     margin: 0 auto;
     border-radius: 8px
 }
 
 .dialog-sel {
     .el-input {
         width: 175px
     }
 }
 
 .github-corner:hover .octo-arm {
     animation: octocat-wave 560ms ease-in-out
 }
 
 @keyframes octocat-wave {
     0%,
     100% {
         transform: rotate(0)
     }
     20%,
     60% {
         transform: rotate(-25deg)
     }
     40%,
     80% {
         transform: rotate(10deg)
     }
 }
 
 @media (max-width:500px) {
     .github-corner:hover .octo-arm {
         animation: none
     }
     .github-corner .octo-arm {
         animation: octocat-wave 560ms ease-in-out
     }
 }
 
 //弹出层样式
 .el-dialog__header {
     padding: 10px 10px 10px 20px !important;
     border-radius: 8px 8px 0 0;
     text-align: left;
 }
 
 .el-dialog__title {
     color: rgba(0, 0, 0, .65) !important;
 }
 
 .el-dialog__headerbtn {
     top: 10px !important;
     color: rgba(0, 0, 0, .65) !important;
 }
 
 .el-form-item__label {
     text-align: right !important;
     @at-root & {
         @media all and (max-width: 1400px) {
             & {
                 padding-right: 5px;
             }
         }
     }
 }
 
 //搜索框样式
 .select-box {
     width: 100%;
     height: 80px;
     background: antiquewhite;
 }
 
 //弹框按钮颜色
 .el-button--primary {
     @include btnColor(#1880c9, #05568f);
 }
 
 //导入
 .import-box {
     ul {
         display: inline-block;
         width: 100%;
         padding: 0 25px;
         p {
             @include height(28px);
             a {
                 color: #515456;
                 text-decoration: underline;
             }
         }
         .import-tip {
             color: #f52727;
         }
         li.fr {
             display: inline-block;
             @include size(120px, 170px);
             .el-upload-dragger {
                 @include size(120px, 120px);
             }
             .el-upload-dragger .el-icon-upload {
                 margin: 20px 0 16px;
             }
         }
     }
 }
 
 .sidebar-wrapper .el-menu {
     border: none;
 }
 
 li.el-menu-item.is-active {
     background: #012342;
 }
 
 //查看时溢出显示样式
 .msgTip {
     padding: 0 !important;
     border: none !important;
     width: 200px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     background: none !important;
     &:hover {
         background: none !important;
     }
 }
 
 //查看strong标签样式
 .strongTip {
     display: inline-block;
     max-width: 95%;
     //    overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     //    padding: 0 10px;
     border-radius: 3px;
 }
 
 //查看strong标签样式--换行
 .strongTipWrap {
     border: 1px solid #ccc;
     word-break: break-all;
     height: 100px;
     overflow-y: auto;
     display: inline-block;
     width: 95%;
     padding: 0 10px;
     border-radius: 3px;
 }
 
 //查看strong标签样式--换行没有滚动条
 .strongTipWrapNoScoll {
     word-break: break-all;
     display: inline-block;
     width: 95%;
     padding: 0 10px;
     border-radius: 3px;
 }
 
 //toolTip样式
 .el-tooltip {
     padding: 20px 6px !important;
 }
 
 .el-tooltip__popper.is-dark {
     word-wrap: break-word;
     max-width: 500px;
     word-break: break-all;
     line-height: 20px;
 }
 
 //角色下拉选择，item太长
 .el-select .el-tag {
     display: inline-flex;
     align-items: center;
 }
 
 .el-select__tags-text {
     display: inline-block;
     max-width: 95px;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 
 .el-select-dropdown__item span {
     padding-right: 15px;
 }
 
 .el-tree-node>.el-tree-node__children {
     min-width: 100%;
 }
 
 .dialog_input {
     .description .el-form-item__content {
         width: 490px;
         textarea {
             height: 100px;
         }
     }
     .el-input {
         @at-root & {
             @media all and (max-width: 1400px) {
                 & {
                     width: 160px;
                 }
             }
         }
     }
 }
 
 .role_dialog {
     .el-input,
     .el-form-item__content {
         width: 330px !important;
     }
 }
 
 .formButton {
     padding: 20px 0px 0 0;
     text-align: right;
     margin-bottom: 0 !important;
 }
 
 .el-cascader-menu__item.is-active{
     color: #409eff !important;
 
 }
 
 .el-radio__input.is-checked .el-radio__inner{
     background: #409eff !important;
     border-color: #409eff !important;
 
 }
 
 .model {
     .el-input {
         width: 175px !important
     }
 }
 
 .house-name {
     color: #3082f3;
     cursor: pointer;
     &:hover {
         color: #66b1ff
     }
 }
 
 .house-address {
     .el-input {
         width: 96%
     }
 }
 
 .progress {
     .el-progress-bar {
         width: 90%
     }
     .el-progress-bar__outer {
         background: #daedfe
     }
     .el-progress-bar__inner {
         background: #0e6de9
     }
     .el-progress__text {
         font-size: 18px !important;
         color: #000;
         margin-left: 20px
     }
 }
 //加*
 .tip-lable{
     &>label::before{
         content: '*';
         color: #f56c6c;
         margin-right: 4px;
     }
 }
 //列表图片样式
 .table-img{
     height: 100px; 
     width: 100px; 
     cursor: pointer;
 }
 .equ-list{
     max-height: 150px;
     width: 586px;
     margin-top: 20px;
     border-radius: 5px;
     border: 1px solid #b4bccc;
     padding: 0 20px 10px 10px;
     overflow: auto;
     & li{
         display: inline-block;
         width: 270px;
         // &:nth-of-type(even){
         // 	margin-left: 20px;
         // }
     }
     &>li{
         .dialog .el-input, .el-cascader, .dialog .el-textarea{
             width: 185px !important;
         }
         .el-form-item{
             width: 100%;
             display: inline-block;
         
             .el-form-item__label{
                 width: 85px !important;
                 padding: 0 !important;
                 text-align: left !important;
             }
             .el-form-item__content{
                 margin-left: 0 !important;
             }
             .el-form-item__error{
                 margin-left: 85px !important;
             }
         }
     }
     
 }
 .el-submenu__title:hover{
     background: #00274b !important
 }
 .remark{
     .el-input{
         width: 94% !important;
     }
 }
 .el-select__tags{
     max-width: 155px !important;
 }
 .own-sel{
     .el-select{
         width: 100% !important
     }
     .el-textarea{
         width: 96% !important
     }
     .el-cascader {
         .el-input{
             width: 100% !important
         }
     }
 }
 .room-tree{
     .el-input{
         width: 100%
     }
     .tree-box{
         height: 300px;
         overflow-y: auto;
         margin-top: 20px
     }
     .el-tree-node {
         .is-leaf + .el-checkbox .el-checkbox__inner{
             display: inline-block;
             }
         .el-checkbox .el-checkbox__inner{
             display: none;
         }
     }
 }
 .el-menu-item{
     padding:0 15px;
 }
 // 搜索五等分
 .generateCheck_form_top_gd{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .generateCheck_form_top_gd  .el-form-item{
     width: 20%;
 }
 // 搜索六等分
 .hiddenDanger_form_top_gd{
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-bottom: 0px;
     height: 30px;
 }
 .hiddenDanger_form_top_gd .el-select{
     width: 16%;
     margin-right: 8px;
 }
 .hiddenDanger_form_top_gd .button_box{
     width: 22%;
 }
 // 个别样式
 /* 重置按钮 */
 
 .dotClass{
     text-indent: 10px;
     position: relative;
     color:#204FFE !important;
     border: none;
 }
 .dotClass::after{
     content: '';
     width: 6px;
     height: 6px;
     background-color: #204FFE;
     border-radius: 50%;
     position: absolute;
     left: 10px;
     top: 12px;
 }
 .orangeDotClass{
     color:#FD9E16 !important;
     background-color: #FFF5E7 !important;
 }
 .orangeDotClass::after{
     background-color:#FD9E16 !important;
 }
 .greyDotClass{
     color:rgba(0, 0, 0, .65) !important;
     background-color: #F2F2F2 !important;
 }
 .greyDotClass::after{
     background-color:rgba(0, 0, 0, .45) !important;
 }
 // 仿不可点击input样式
 .copy_disabled_input{
     width: 100%;
     background-color: #F5F7FA;
     color: #C0C4CC;
     padding: 0 10px;
     height: 30px;
     line-height: 30px;
     border-radius: 4px;
     border: 1px solid #E4E7ED;
     box-sizing: border-box;
 }
 .el-table--border {
     border: none;
 }
 .el-dropdown__caret-button {
    padding: 7px 5px !important;
}
.query {
    .el-form-item {
        margin-bottom: 0;
    }
}
.form-box {
    .el-input, .el-select {
        width: 100% !important;
    }
}